.loading {
	display: flex;
	flex-direction: column;
	margin: 4rem auto 2rem;
	max-width: 180px;
	width: 100%;
	align-items: center;

	.loading-message {
		margin-top: 2rem;
	}
}

// https://loading.io/css/
.lds-dual-ring {
	display: inline-block;
	width: 128px;
	height: 128px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 110px;
	height: 110px;
	margin: 1px;
	border-radius: 50%;
	border: 9px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
